*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    position: relative;
}

body{
    height: 100svh;
    max-height: 100svh;
    width: 100svw;
    max-width: 100svw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;

    background-color: bisque;
}

.quote-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pre-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 10px;
    width: 60%;
}

button i{
    background-color: bisque;
    color: black;

    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

#quote{
    width: 60%;
    height: 50%;
    padding: 40px;
    background-color: rgb(255, 244, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-radius: 70px;
    outline: none;
    text-align: center;
    border: 1px double black;
}